target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.history/

### OS ###
.DS_Store
Thumbs.db

### Local configuration ###
application-local.properties
.env
